*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family:Ubuntu-LI;
}

/*header*/
header{
  background-image: url("background.jpg");
}
/*tittle*/
.tittle{
  text-align: center;
}
img{
  padding: 0px;
  height: 80px;
}

body{
  background-image: url("background.png");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

a {
  text-decoration: none;
}

nav {
  background-image: linear-gradient(to right, #ff0066, #ff00ff);
  height: 50px;
}

ul {
  background: darkorange;
  list-style: none;
  margin: 0;
  padding-left: 0;
}

li {
  color: #fff;
  display: block;
  float: left;
  padding:1rem;
  position: relative;
  text-decoration: none;
  transition-duration: 0.5s;
}

li .last{
}

li a {
  color: #fff;
}

.active {
  background: #990033;
}


.active,li:hover {
  background: #990033;
  cursor: pointer;
}

ul li ul {
  background:  #990033;
  visibility: hidden;
  opacity: 0;
  min-width: 5rem;
  position: absolute;
  transition: all 0.5s ease;
  margin-top: 1rem;
  left: 0;
  display: none;
}

ul li:hover > ul,
ul li ul:hover {
  visibility: visible;
  opacity: 1;
  display: block;
}

ul li ul li {
  clear: both;
  width: 100%;
}


/*Login page*/
/* Add padding to containers */
.container {
  width: 80%;
  margin: 30px auto;
  padding: 16px;
  background-color: #ffe6e6;
  box-shadow: 2px,2px;
}

.container select{
  width: 100%;
  padding: 15px;
  height: 10vh;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

/* Full-width input fields */
.container input[type=text], input[type=password], input[type=email]{
  width: 100%;
  padding: 15px;
  height: 7vh;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

.container input[type=file]{
  width: 100%;
  padding: 10px;
  height: 7vh;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

.container input[type=text]:focus, input[type=password]:focus, input[type=file]:focus, input[type=email]:focus{
  background-color: #ddd;
  outline: none;
}

/* Overwrite default styles of hr */
.container hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 15px;
}

/* Set a style for the submit/register button */
.container .registerbtn {
  background-color: #ff3399;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.container .resetbtn {
  background-color: #ff3399;
  color: white;
  padding: 10px 10px;
  margin: 8px 0;
  margin-left: 25%;
  border: none;
  cursor: pointer;
  width: 50%;
  opacity: 0.9;
}

.container .registerbtn:hover, .resetbtn:hover {
  opacity:1;
  background: #990033;
}

/* Add a blue text color to links */
a {
  color: dodgerblue;
}

/* Set a grey background color and center the text of the "sign in" section */
.signin {
  background-color: #f1f1f1;
  text-align: center;
}